<footer class="bg-white text-sm text-gray-800 border-t mt-16">
  <div class="max-w-6xl mx-auto px-6 py-10 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-8">
    
    <!-- Help -->
    <div>
      <h4 class="font-bold uppercase mb-2 text-xs tracking-wider">Help</h4>
      <ul class="space-y-1">
        <li>
          <a href="mailto:swirl.allpayauction@gmail.com" class="text-xs hover:underline">
            Contact Us
          </a>
        </li>
        <%# <li><a href="#" class="text-xs hover:underline">FAQs</a></li> %>
      </ul>
    </div>

    <!-- Legal -->
    <%# <div>
      <h4 class="font-bold uppercase mb-2 text-xs tracking-wider">Legal</h4>
      <ul class="space-y-1">
        <li><a href="#" class="text-xs hover:underline">Terms & Conditions</a></li>
        <li><a href="#" class="text-xs hover:underline">Privacy Policy</a></li>
      </ul>
    </div> %>

    <!-- Social -->
    <div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="border-t text-xs text-gray-500 px-6 py-2 text-center bg-gray-100">
    © 2025 AllPay™. All rights reserved.
    <%# <a href="#" class="underline ml-1 text-sm">Privacy Policy.</a> %>
  </div>
</footer>