<header>
    <div class="navbar">
        <div class="logo">
            <a href="#">All Pay Auction</a>
        </div>

        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Buy</a></li>
            <li><a href="#">Sell</a></li>
            <li><a href="#">About Us</a></li>
        </ul>

        <a href="#" class="login-btn">Login</a>
        <div class="toggle-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>

    <div class="dropdown-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Buy</a></li>
        <li><a href="#">Sell</a></li>
        <li><a href="#">About Us</a></li>
        <a href="#" class="login-btn">Login</a>
    </div>

    <script>
        const toggleBtn = document.querySelector('.toggle-btn');
        const toggleBtnIcon = document.querySelector('.toggle-btn i ');
        const dropDownMenu = document.querySelector('.dropdown-menu');


        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open');
            const isOpen = dropDownMenu.classList.contains('open');
            toggleBtnIcon.classList = isOpen ? "fa-solid fa-xmark" : "fa-solid fa-bars";
        }
    </script>
</header>

<main>
    <section id="hero">
        <h1>Welcome</h1>
        <p>POV: me blasting Fetty while working on this website</p>
        <audio controls autoplay loop>
            <source src="<%= asset_path 'fun-fetty.mp3' %>" type="audio/mp3">
        </audio>
        <div class="gif-container">
            <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3hmNGs2eXY5aHRwanM5bDF3dHlpYmE3aXJpeDBlaWM1bGd0c2pnMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QDjpIL6oNCVZ4qzGs7/giphy.gif" alt="Funny GIF">
        </div>
    </section>

</main>