<div class="flex items-center justify-center">
  <div class="max-w-2xl mx-auto text-center px-6 py-12">
    <p class="text-lg text-gray-700 leading-relaxed">
      AllPAY is a kind of auction where every bid matters — even if you don’t win. 
      Every participant pays their bid, but only the highest bidder takes the prize. 
    </p>
  </div>
</div>



<%# Auction Block Carousel %>
<div class="w-full px-4 mt-10 relative">
  <div class="flex flex-row items-center justify-between mb-4">
    <div class="flex flex-row items-center space-x-4">
      <div class="font-bold text-md">The Auction Block</div>
      <%= link_to "Explore More →", auction_items_path, class: "text-sm underline" %>
      <div id="auction-loader" class="hidden">
        <div class="w-4 h-4 border-2 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
      </div>
    </div>
  </div>

  <% if @auction_items.present? %>
    <div id="auction-carousel" class="flex space-x-4 overflow-x-auto scroll-smooth snap-x snap-mandatory pb-2 hide-scrollbar">
      <%= render partial: "shared/auction_item_cards", locals: { auction_items: @auction_items } %>
    </div>
  <% else %>
    <div id="no-auction-items-message" class="italic text-[#808080] ml-4">
      <p>No <span id="auction-status-text"></span> auction items available.</p>
    </div>
  <% end %>
</div>


<div class="py-20"></div>