@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


/* Make the entire navbar white across full width */
.navbar {
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Keep content centered */
.navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}


.logo a {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2rem;        
  font-weight: normal;
  text-transform: uppercase;
  color: #1E3A8A;         
  text-decoration: none;  
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.navbar .user-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.navbar .toggle-btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.login-btn {
    font-size: 1rem;
}

.signup-btn {
    background-color: #0c243c;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.signup-btn:hover {
    scale: 1.05;
    color: #fff;
}

.signup-btn:active {
    scale: 0.95;
}

.profile-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    min-width: max-content;
    border-bottom: 3px solid transparent;

    &:hover,
    &:active,
    &.active {
        border-bottom-color: #1E3A8A;
    }
}

.profile-btn .user-name {
    text-transform: uppercase;
}
  
.profile-dropdown-menu { 
    position: absolute;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    top: 125%;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(256, 256, 256, 0.4);
    backdrop-filter: blur(15px);
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
}
  
.profile-dropdown-menu.open {
    height: 200px;
    width: 300px;
    padding: 1rem 1.5rem;
}
  
.profile-dropdown-menu a {
    text-decoration: none;
    display: block;
    transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

.profile-dropdown-menu a:hover,
.profile-dropdown-menu a:focus,
.profile-dropdown-menu a:active {
    color: #1E3A8A;
}